div:has(.base-card) {
	height: 100%;
}

.base-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;

	img {
		width: 100%;
		height: auto;
		max-height: 200px;
		object-fit: cover;
		border-radius: var(--base-br);
	}

	&__detail-link {
		margin-top: auto;
		padding-top: 12px;
	}

	&__note {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 24px;
		align-items: center;

		small {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 14px;
			color: var(--muted);

			&:first-child {
				margin-right: auto;
			}

			svg {
				fill: var(--muted);
			}
		}
	}
}
