.base-card {
	display: flex;
	flex-direction: column;
	gap: 16px;

	img {
		width: 100%;
		height: auto;
		object-fit: contain;
		border-radius: var(--base-br);
	}

	&__detail-link {
		margin-top: auto;
		padding-top: 12px;
	}

	&__note {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 24px;
		align-items: center;

		small {
			display: flex;
			align-items: center;
			gap: 8px;
			font-style: 14px;
			color: var(--muted);

			svg {
				fill: var(--muted);
			}
		}
	}
}
