.performance {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: clamp(20px, 3vw, 60px);

	&__image-wrapper {
		&.animate-border {
			padding: 0;
		}

		img {
			display: flex;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	}

	&__content-wrapper {
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: var(--base-gap);
			height: 100%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: var(--base-gap);

		&-header {
			display: flex;
			align-items: center;
			gap: var(--base-gap);

			img {
				width: 36px;
				height: 36px;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
