@mixin font-face($font-family, $url, $weight, $style) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("../../fonts/#{$url}.woff2") format("woff2");
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}

@include font-face("ProximaNova", "ProximaNova-Regular", 400, normal);

@include font-face("Exo2", "Exo2-Thin", 300, normal);
@include font-face("Exo2", "Exo2-Regular", 400, normal);
@include font-face("Exo2", "Exo2-Medium", 500, normal);
@include font-face("Exo2", "Exo2-SemiBold", 600, normal);
@include font-face("Exo2", "Exo2-Bold", 700, normal);

@include font-face("RobotoMono", "RobotoMono-Regular", 400, normal);
