h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0;
	margin-bottom: 0.75em;
	font-weight: 500;
}

h1,
.h1 {
	font-size: clamp(28px, 5vw, 36px);
}

h2 {
	font-size: clamp(22px, 1.8vw, 32px);
}

h3 {
	font-size: clamp(20px, 1.6vw, 28px);
}

h4 {
	font-size: clamp(18px, 1.4vw, 24px);
}

h5 {
	font-size: clamp(18px, 1.2vw, 22px);
}

h6 {
	font-size: clamp(18px, 1vw, 20px);
}

p {
	margin: 0;
	margin-bottom: 1em;
}
