:root {
	--primary-font: "Exo2", sans-serif;
	--secondary-font: "ProximaNova", sans-serif;
	--roboto-font: "RobotoMono", sans-serif;

	--content-width: 1440px;
	--container-offset: clamp(10px, 2vw, 60px);
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--content-fluid-width: 1920px;
	--container-fluid-offset: 0;
	--container-fluid-width: calc(
		var(--content-fluid-width) + (var(--container-offset) * 2)
	);

	--black: #000000;
	--white: #ffffff;
	--primary: #8256eb;
	--secondary: #f8f8f8;
	--warning: #ffd83a;
	--danger: #d50202;
	--success: #71c876;
	--info: #fff8db;
	--dark: #00001d;
	--light: var(--light);
	--gray-800: #f8f8f8;
	--gray-600: #cccccc;
	--gray-500: #f5f5f5;
	--gray-900: #919191;

	--scrollbar-color: var(--secondary);
	--scrollbar-width: 10px;
	--scrollbar-height: 6px;
	--scrollbar-border-radius: 0;
	--scrollbar-thumb-color: var(--primary);
	--scrollbar-thumb-border-radius: 0;

	--site-base-font-family: var(--primary-font);
	--site-base-font-weight: 400;
	--site-base-font-size: 16px;
	--site-base-line-height: 1.5;
	--site-base-letter-spacing: 0.0015em;
	--site-base-text-color: var(--white);
	--site-bg-color: var(--dark);

	--main-transition: 0.25s ease;

	// border-radius
	--base-br: 30px;

	// controls
	--control-inner-offset: 16px 24px;
	--control-border: 1px solid var(--gray-500);
	--control-bg: var(--gray-800);
	--control-border-radius: var(--base-br);

	// base-vars
	--base-padding: 24px;
	--base-gap: 24px;
}
