@use "@scss/base/container-queries" as *;

.workflow {
	display: grid;
	grid-template-columns: 1fr;

	&-container {
		container: workflow/ inline-size;
	}

	@include container-up(workflow, 620px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include container-up(workflow, 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 16px;

		border-top: 1px solid rgba(255, 255, 255, 0.1);

		padding: 40px 30px;
		padding-left: 0;

		&::before {
			position: absolute;
			top: -11px;
			left: 0;
			content: "";
			display: block;
			width: 21px;
			height: 21px;
			border-radius: 50%;

			/* Красный бордер */
			border: 2px solid var(--primary);

			/* Синий фон с красным кругом в центре через радиальный градиент */
			background: radial-gradient(
				circle at center,
				var(--primary) 1px,
				var(--dark) 6px,
				var(--dark) 100%
			);
		}
	}
}
