@use "@scss/base/container-queries" as *;

.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	.container {
		padding-top: 20px;
		padding-bottom: 60px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--base-gap);
		padding: var(--base-gap) 0;
	}

	.row-menu {
		width: 100%;

		ul {
			justify-content: space-between;
		}
	}

	.contacts-row {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: space-evenly;
		gap: 24px;

		* {
			padding: 0 12px;
			font-weight: 600;
		}
	}
}
