@use "@scss/base/container-queries" as *;

.footer {
	.container {
		padding-top: 20px;
		padding-bottom: 60px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--base-gap);
		padding: var(--base-gap) 0;
	}

	.row-menu {
		width: 100%;

		ul {
			justify-content: space-between;
		}
	}
}
