@use "@scss/base/container-queries" as *;

.section {
	padding: clamp(20px, 6vw, 55px) 0;

	.container {
		display: flex;
		flex-direction: column;
		gap: clamp(40px, 5.2vw, 70px);
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 10px;
		container: section-header / inline-size;

		& * {
			margin: 0;
		}

		&-title {
			font-size: clamp(30px, 4vw, 48px);
			font-weight: 600;
			color: var(--white);
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 24px;

			@include container-up(section-header, 534px) {
				grid-template-columns: auto 120px;
			}

			&__item {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}

		.swiper-navigation-container {
			display: flex;
			align-items: center;
			gap: 16px;

			.swiper-btn {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 40px;
				height: auto;
				aspect-ratio: 1/1;

				border-radius: 50%;
				border: 1px solid var(--white);
				cursor: pointer;

				& > svg {
					width: 12px;
					height: auto;
					fill: var(--white);
					object-fit: contain;
				}

				&-prev {
					transform: rotate(180deg);
				}
			}

			.swiper-button {
				&-lock {
					visibility: hidden;
				}

				&-disabled {
					opacity: 0.4;
					pointer-events: none;
				}
			}
		}
	}
}
