@use "@scss/base/reset";
@use "@scss/base/vars";
@use "@scss/base/fonts";
@use "@scss/base/typography";
@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;
@use "@scss/vendors/index" as *;

@use "@scss/layout/containers";
@use "@scss/layout/header";

@use "@scss/components/index" as *;

@use "@scss/layout/footer";
