.alert {
	font-size: 16px;
	padding: 16px var(--base-padding);
	border-radius: var(--base-br);
	margin: 16px 0;
	max-width: 760px;
	background-color: var(--gray-500);

	&-success,
	&--success {
		border: 1px solid var(--success);
	}

	&-warning,
	&--warning {
		border: 1px solid var(--warning);
	}

	&-danger,
	&--danger {
		border: 1px solid var(--danger);
	}
}

.bx-soa-section-content {
	.alert {
		padding: 12px 18px;
		font-size: 14px;
	}
}
