.animate-border {
	position: relative;
	border-radius: 30px;
	z-index: 1;

	padding: 30px;
	background-color: rgba(12, 13, 37, 0.6);
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 30px;
		padding: 1px; /* Толщина бордера */
		background: linear-gradient(var(--angle), #0d0e26, #384479);
		--angle: 0deg;
		animation: rotate 10s linear infinite;

		/* Вырезаем внутреннюю часть — остаётся только бордер */
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;

		pointer-events: none;
	}
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
