.animate-border {
	position: relative;
	border-radius: 30px;
	// padding: var(--base-gap);
	z-index: 1;

	padding: var(--base-gap);
	background-color: rgba(12, 13, 37, 0.6);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 30px;
		padding: 1px; /* Толщина бордера */
		background: linear-gradient(var(--angle), #0d0e26, #384479);
		--angle: 0deg;
		animation: rotate 10s linear infinite;

		/* Вырезаем внутреннюю часть — остаётся только бордер */
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;

		// z-index: -1;
		pointer-events: none;
	}
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

// Второй рабочий вариант

// .animate-border {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// 	border-radius: 30px;
// 	background: linear-gradient(var(--angle), #0d0e26, #384479);
// 	animation: 10s rotate linear infinite;
// }

// .animate-border::before {
// 	position: absolute;

// 	content: "";
// 	background: var(--dark);
// 	width: calc(100% - 2px);
// 	height: calc(100% - 2px);
// 	top: 1px;
// 	left: 1px;
// 	border-radius: 30px;
// 	overflow: hidden;
// 	z-index: 0;
// }

// .animate-border > * {
// 	position: relative;
// 	z-index: 1;
// }

// @keyframes rotate {
// 	to {
// 		--angle: 360deg;
// 	}
// }

// @property --angle {
// 	syntax: "<angle>";
// 	initial-value: 0deg;
// 	inherits: false;
// }
