%ctrl-base-style {
	font-family: var(--primary-font);
	padding: 12px 16px;
	width: 100%;
	border-radius: 30px;
	border: none;
	border: 1px solid var(--gray-800);
	background-color: var(--gray-500);
}

.main-input,
.main-textarea {
	@extend %ctrl-base-style;
}

.main-textarea {
	padding: 16px;
}

*.has-error {
	label {
		color: var(--danger);
	}

	textarea,
	input[type="text"] {
		border-color: var(--danger);
	}
}
