%ctrl-base-style {
	font-family: var(--primary-font);
	font-size: 16px;
	width: 100%;
	min-height: 44px;
	border-radius: 30px;
	border: none;
	border: 1px solid var(--gray-800);
	background-color: var(--gray-500);
	overflow: hidden;

	&::placeholder {
		font-size: 16px;
		font-family: var(--primary-font);
	}

	label {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&.invalid-fld {
		border-color: var(--danger);
	}
}

.main-textarea-wrapper {
	@extend %ctrl-base-style;

	textarea {
		border: none;
		outline: none;
		background-color: transparent;
	}
}

.main-input-wrapper {
	@extend %ctrl-base-style;

	input:not(input[type="submit"]) {
		min-height: 44px;
		border: none;
		width: 100%;
		background-color: transparent;
		padding: 12px 24px;
		outline: none;
	}
}
