.table-wrapper {
	overflow: hidden;
	width: 100%;
	overflow-x: auto;
	margin: 1em 0;

	table {
		min-width: 700px;
		border-collapse: collapse;
		overflow: hidden;
		margin: 0;

		tbody {
			tr:nth-child(odd) {
				background-color: var(--gray-500);
			}

			td {
				border: none;
				border-bottom: var(--gray-600);
				padding: 0.75em;
			}
		}

		caption {
			padding: 0.75em;
			font-style: italic;
			text-align: left;
			caption-side: bottom;
		}
	}
}
