@use "./blockquotes";
@use "./tables";
@use "./textarea";
@use "./main-input";
@use "./alert";
@use "./main-btn";
@use "./loader";
@use "./burger-btn";
@use "./animate-border";
@use "./outlined-number";
